body{
	background-color: black;
	width: 1200px;
	margin: auto;
}

h1{
	font-family: blenny;
	color: orangered;
	text-align: center;
	font-weight: 900;
	font-style: normal;
	font-size: 60px
}

p{
	font-family: clone-rounded-latin;
	font-size: 18px;
	color: orange;
	padding-top: 80px;
	text-align: center;
}

input{
	color: white;
}

aside{
	float: left;
	width: 380px;
}
canvas{
	float: right;
}